body {
    box-sizing: border-box;
    margin: 0;
}

nav {
    display: inline;
}

ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #4d4d4d;
}
a:hover {
    text-decoration: underline;
}

.menu-container {
    position: relative;
    display: block;
    width: 100%;
}

.menu-container::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #f4f4f4;
    content: "";
}

#header-menu {
    width: 1240px;
    margin: 0 auto;
    position: relative;
    height: 120px;
}

#header-util {
    width: 1240px;
    height: 66px;
    display: block;
    margin: 0 auto;
    position: relative;
}

#header-util .header-inner {
    position: absolute;
    top: 25px;
}

.header-inner {
    position: relative;
    display: block;
    width: 100%;
  }
  .header-inner ul {
    margin: 0;
  }
  .header-inner li {
    float: left;
    height: 66px;
    margin: 0 0 0 21px;
    font-size: 18px;
  }
  
  .amazon {
    margin-left: 10px;
  }
  
  .header-util-login {
    position: absolute;
    right: 0;
    top: 0;
    height: 66px;
    padding: 0 0 0 0;
    font-size: 16px;
    color: #111;
  }
  .header-util-login div {
    float: left;
  }
  .header-util-login a {
    position: relative;
    margin: 0 14px;
    color: #111;
    font-weight: bold;
  }

.logo {
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 94px;
    height: 40px;
}

.search-bar {
    display: inline-block;
    position: absolute;
    top: 40px;
    margin-left: 120px;
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: #fafafa;
}

.search-input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 16px;
    color: #999;
    background: none;
}
.search-input:focus {
    outline: none;
}

.search-button {
    position: absolute;
    right: 2px;
    top: 0;
    overflow: hidden;
    background-image: url("https://c.011st.com/img/common/sprites/sp_gnb_2x_202189_144535.png");
    background-position: -165px -45px;
    width: 45px;
    height: 45px;
    background-size: 363px 300px;
    border: none;
    border-radius: 25px;
}
.search-button:hover {
    cursor: pointer;
}

.user-menu {
    position: absolute;
    display: inline-block;
    top: 25px;
    right: -8px;
}

.user-menu-item {
    width: 48px;
    height: 48px;
    margin-right: 25px;
}

.mypage-container {
    width: 1240px;
    margin: 0 auto;
    padding: 10px 0 50px;
}

.mypage-title {
    overflow: hidden;
    width: 100%;
}
.mypage-title h2 {
    float: left;
    width: 185px;
    height: 41px;
    margin-top: 5px;
}

.mypage-sub {
    width: 185px;
    float: left;
}

.my-info {
    border: 1px solid #ccc;
    width: 163px;
    padding: 16px 0 12px;
    text-align: center;
}

.my-info-profile img {
    width: 58px;
    height: 58px;
}

.my-info-name {
    padding-top: 10px;
}

.grade {
    color: #03cfb5;
}

.mypage-sub-menu {
    border: 1px solid #ccc;
    width: 163px;
    padding: 16px 0 12px;
    text-align: left;
    color: #4d4d4d;
}
.mypage-sub-menu h3 {
    padding-bottom: 8px;
    color: #4d4d4d;
    font-size: 14px;
    text-align: left;
    padding-left: 14px;
}
.mypage-sub-menu ul {
    text-align: left;
    font-size: 11px;
    padding-left: 14px;
    color: #666;
}
.mypage-sub-menu li {
    display: block;
    padding-bottom: 8px;
}

.mypage-content {
    position: relative;
    float: left;
    margin-left: 15px;
    width: 80%;
}

.order-wrap {
    width: 100%;
    height: 89px;
    border: 2px solid #666;
    text-align: center;

}
.order-wrap ol {
    padding-top: 0;
}

.order-status-item {
    left: 0;
    padding-right: 110px;
    text-align: center;
}
.order-status-item span {
    display: block;
    padding-bottom: 10px;
}
.order-status-item strong {
    font-size: 25px;
    color: red;
}

.my-order-menu {
    margin-top: 20px;
    width: 96.5%;
    border-bottom: 1px solid #ccc;
    padding-left: 40px;
}
.my-order-menu a {
    color: #e0453e;
    font-size: 16px;
    font-weight: bold;
}

.my-order-title {
    margin-top: 40px;
}
.my-order-title h3 {
    display: inline;
    font-size: 14px;
}
.my-order-title span {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}

.my-order-table {
    display: table;
    margin-top: 10px;
    width: 100%;
}
.my-order-table th {
    height: 24px;
    text-align: center;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    background-color: #e4e4e5;
}
.my-order-table tr {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.my-order-table td {
    padding: 13px 0 6px 0;
    height: 10px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.my-order-table td:first-child {
    border-left: 0;
}
.my-order-date {
    text-align: center;
    color: #666;
    margin-bottom: 2px;
    padding: 0 5px; 
    font-size: 12px;
}

.my-order-date-detail {
    text-align: center;
    color: #666;
    margin-bottom: 2px;
    padding: 0 5px;
}

.my-order-date-detail span {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 17px;
    overflow: hidden;
    color: white;
    font-size: 14px;
    background: #4d4d4d;
}

.order-prod {
    padding-bottom: 5px;
    padding-left: 4px;
}

.order-prod img {
    position: relative;
    float: left;
    margin-right: 7px;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-bottom: 10px;
}

.order-prod-info {
    padding-left: 20px;
}

.order-prod-title {
    overflow: hidden;
    color: #333;
    text-align: left;
    font-size: 14px;
}

.order-prod-option {
    font-size: 11px;
    color: #4d6ccd;
    padding-left: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.order-pay {
    text-align: center;
    color: #333;
    font-size: 12px;
}
.order-pay strong {
    font-size: 14px;
}

.seller {
    text-align: center;
    color: #4d4d4d;
    font-size: 14px;
}
.seller a {
    text-decoration: underline;
    font-size: 11px;
}

.order-stat {
    text-align: center;
}
.order-stat span {
    color: #4d6ccd;
    font-size: 12px;
}
.order-stat p {
    color: #666;
    padding: 0 5px;
    width: 61px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 2px;
    border: 1px solid #9c9c9c;
    background: #fff;

}
.order-stat a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1px;
    font-size: 10px;
}